.file-links {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    margin-top: 20px;
}

.file-links a {
    color: #080a0b; /* Blue color */
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.file-links a:hover {
    text-decoration: underline;
    color: #0056b3; /* Darker blue on hover */
}
